
  <div class="card bg-dark mb-4 text-white rounded-0">
    <img src=<%= @model.photo_url %> class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title text-center pt-5"><%= @model.brand %> - <%= @model.name %></h1>
      <div class="row mt-3">
      <div class="col-md-6 p-5">
      <p class="card-text">
          <ul>
            <li><h3>Engine Size: <%= @model.cc %>CC</h3></li>
            <li><h3>Fuel Type: <%= @model.fuel %></h3></li>
            <li><h3>Weight: <%= @model.weight %> kg</h3></li>
            <li><h3>Size: <%= @model.size %></h3></li>
          </ul>
      </p>
      </div>
      <div class="col-md-6 p-5">
      <h3 class="card-text"><%= @model.description %></h3>
    </div>
    </div>
    </div>
  </div>
<div class="container">




  <div class="scooter-cards">
  <div class="row">
    <% @scooters.each do |scooter| %>
    <div class="col-md-4 col-xs-12">
      <%= link_to scooter_path(scooter) do  %>
      <div class="card mb-3 shadow p-3 mb-5 bg-white rounded" style="">
        <img src=<%=scooter.photo%> class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= scooter.model.brand%> - <%=scooter.model.name %></p>
          <p><%= scooter.price_per_day %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
</div>

</div>

</div>




