  <div class="card-category mb-4 rounded-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1541465859444-326ef2fb999b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80)">
    <h2 class="my-5 text-center">My upcoming <strong>SKUTER</strong> adventures</h2>
  </div>


<div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="listings-tab" data-toggle="tab" href="#listings" role="tab" aria-controls="listings" aria-selected="false">Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="listings-tab" data-toggle="tab" href="#skuters" role="tab" aria-controls="skuters" aria-selected="false">Skuters</a>
      </li>
    </ul>

    <div class="tab-content tab-pane fade show active mx-auto mb-4" id="myTabContent">

      <div class="tab-pane fade show active bookings-container" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">

          <div class="card col-sm-6 col-md-6">

            <h4 class="my-3" style="color: grey">Upcoming Bookings</h4>

              <% @upcoming.each do |booking| %>
              <%= link_to booking_path(booking) do %>
              <div class="card-product mb-3" >
                <img src="<%= booking.scooter.model.photo_url %>" />
                <div class="card-product-infos">
                  <h2><%= booking.scooter.model.brand %> - <%= booking.scooter.model.name %></h2>
                  <p><%= booking.start_date %> - <%= booking.end_date %> <strong><%= (booking.end_date - booking.start_date).to_i %> days</strong></p>
                </div>
              </div>
              <% end %>
              <% end %>

          </div>
          <div class="card col-sm-6 col-md-6">
            <h4 class="my-3" style="color: grey">Past Bookings</h4>

              <% @past.each do |booking| %>
              <%= link_to booking_path(booking) do %>
              <div class="card-product mb-3" >
                <img src="<%= booking.scooter.model.photo_url %>" />
                <div class="card-product-infos">
                  <h2><%= booking.scooter.model.brand %> - <%= booking.scooter.model.name %></h2>
                  <p><%= booking.start_date %> - <%= booking.end_date %> <strong><%= (booking.end_date - booking.start_date).to_i %> days</strong></p>
                </div>
              </div>
              <% end %>
              <% end %>

          </div>

      </div>
      <div class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">


          <div class="card col-sm-6 col-md-6">
            <% if @unconfirmed_future_income.length > 0 %>
            <h4 class="my-3" style="color: grey">Listings to confirm</h4>
            <% end %>

            <% @unconfirmed_future_income.each do |booking| %>
              <div class="card-product mb-3" data-id="<%= booking.id %>">
                <img src="<%= booking.scooter.model.photo_url %>" />
                <div class="card-product-infos">
                  <h2><%= booking.scooter.model.brand %> - <%= booking.scooter.model.name %></h2>
                  <p><%= booking.start_date %> - <%= booking.end_date %> <strong><%= (booking.end_date - booking.start_date).to_i %> days</strong></p>
                  <div class="bottom-right" id="red">
                  <i class="fas fa-motorcycle"></i>
                  </div>
                  <div class="confirm-button">
                    <%= link_to "confirm", confirm_booking_path(booking), method: :post, remote: true, class: "btn btn-flat m-0", style: "width: 108px;" %>
                  </div>
                </div>
              </div>
              <% end %>


            <h4 class="my-3" style="color: grey">Upcoming Listings</h4>
              <div class="upcoming-listings">
              <% @confirmed_future_income.each do |booking| %>
              <div class="card-product mb-3" >
                <img src="<%= booking.scooter.model.photo_url %>" />
                <div class="card-product-infos">
                  <h2><%= booking.scooter.model.brand %> - <%= booking.scooter.model.name %></h2>
                  <p><%= booking.start_date %> - <%= booking.end_date %> <strong><%= (booking.end_date - booking.start_date).to_i %> days</strong></p>
                  <div class="bottom-right" id="green">
                  <i class="fas fa-motorcycle"></i>
                  </div>
                </div>
              </div>
              <% end %>
              </div>
          </div>

          <div class="card col-sm-6 col-md-6">
            <h4 class="my-3" style="color: grey">Past Listings</h4>

              <% @past_income.each do |booking| %>
              <div class="card-product mb-3" >
                <img src="<%= booking.scooter.model.photo_url %>" />
                <div class="card-product-infos">
                  <h2><%= booking.scooter.model.brand %> - <%= booking.scooter.model.name %></h2>
                  <p><%= booking.start_date %> - <%= booking.end_date %> <strong><%= (booking.end_date - booking.start_date).to_i %> days</strong></p>
                </div>
              </div>
              <% end %>
          </div>

      </div>

      <div class="tab-pane fade" id="skuters" role="tabpanel" aria-labelledby="skuters-tab">


          <div class="card col-sm-6 col-md-6">
            <h4 class="my-3" style="color: grey">My Skuters</h4>

              <% @owned_scooters.each do |scooter| %>
                <div class="card-product mb-3" >
                  <img src="<%= scooter.model.photo_url %>" />
                  <div class="card-product-infos">
                    <div class="botton-edit">
                    <i class="far fa-edit" data-id="<%= scooter.id %>"></i>
                    </div>
                    <h2><%= scooter.model.brand %> - <%= scooter.model.name %></h2>
                    <p><%= scooter.price_per_day %></p>
                    <% if scooter.availability == true  %>
                    <%= button_to "Make unavailable", scooter_path(scooter), class: "btn-danger",  method: :delete, data: { confirm: "Are you sure?" }  %>
                    <% else %>
                    <button class="btn-danger">Unavailable</button>
                    <% end %>
                  </div>
                </div>

                <%= render 'scooters/form', scooter: scooter %>
              <% end %>
          </div>

          <div class="card col-sm-6 col-md-6">
            <h4 class="my-3" style="color: grey">My Profile</h4>
            <div class="card p-4 shadow p-3 mb-5 bg-white rounded-0">
            <img src="https://assets.entrepreneur.com/content/3x2/2000/20190502194704-ent19-june-editorsnote.jpeg" <%#=@booking.scooter.user.photo %> alt="" class="avatar-square-large mx-auto mb-3">
            <h5 class="text-center mb-3">
            <%= current_user.name %>
            </h5>
            <h6>
            <%= current_user.introduction %>
        </h6>
      </div>
          </div>

      </div>

    </div>
</div>



