  <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551368321-dddf8a05c459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
    <h2 class="my-5 text-center">My upcoming <strong>SKUTER</strong> adventures</h2>
  </div>
    <p><%= link_to "Edit your profile", edit_user_registration_path  %></p>

<div class="container">

  <div class="row row-2">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="listings-tab" data-toggle="tab" href="#listings" role="tab" aria-controls="listings" aria-selected="false">Listings</a>
      </li>
    </ul><br>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
        <div class="row"><br><br><br>
          <div class="card col-sm-6">
            <h3>Upcoming Bookings</h3>
            <ol>
              <% @upcoming.each do |booking| %>
              <li>Model:
                <%=  booking.scooter.model.name %>
                Date:
                <%= booking.start_date %>
                Duration:
                <%= (booking.end_date - booking.start_date).to_i %> days
              </li>
              <% end %>
            </ol>
          </div>
          <div class="card col-sm-6">
            <h3>Past Bookings</h3>
            <ol>
              <% @past.each do |booking| %>
              <li>Model:
                <%=  booking.scooter.model.name %>
                Date:
                <%= booking.start_date %>
                Duration:
                <%= (booking.end_date - booking.start_date).to_i %> days
              </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">
        <div class="row">
          <div class="card col-sm-6">
            <h3>Upcoming Listings</h3>
            <ol>
              <% @future_income.each do |booking| %>
              <li>Model:
                <%=  booking.scooter.model.name %>
                Date:
                <%= booking.start_date %>
                Duration:
                <%= (booking.end_date - booking.start_date).to_i %> days
              </li>
              <% end %>
            </ol>
          </div>
          <div class="card col-sm-6">
            <h3>Past Listings</h3>
            <ol>
              <% @past_income.each do |booking| %>
              <li>Model:
                <%=  booking.scooter.model.name %>
                Date:
                <%= booking.start_date %>
                Duration:
                <%= (booking.end_date - booking.start_date).to_i %> days
              </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Listings</a>
  </li>
</ul>

