<div class="text-center">
<h1>Information</h1>
<p>Fill in the Form</p>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6 col-sm-offset-2">
    <%= simple_form_for @scooter do |f| %>
    <%= f.association :model %>
    <%= f.input :title, label: "Give it a cool name" %>
    <%= f.input :colour %>
    <%= f.input :location, input_html: {:id => "location"} %>
    <%= f.input :age, as: :integer, label: "Age", hint: "Years" %>
    <%= f.input :mileage, as: :integer, label: "Mileage", hint: "Kms" %>
    <%= f.input :condition, collection: ['Pristine', 'Good', 'It works', 'Yours to fix'] %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :price_per_day, as: :integer, label: "Price per day", hint: "In local currency" %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>

