<div class="container">
  <div class="custom-container">
    <div class="small-container">
      <%= image_tag @scooter.photo, class:"scooter-photo" %>
      <div class="scooter-description">
        <h1>model:
          <%= @scooter.model.name %>
        </h1>
        <h2>age:
          <%= @scooter.age %>
        </h2>
        <h3>mileage:
          <%= @scooter.mileage %>
        </h3>
        <h4>condition:
          <%= @scooter.condition %>
        </h4>
        <h5>price_per_day:
          <%= @scooter.price_per_day %>
        </h5>
      </div>
    </div>
    <div class="small-container" id='booking-container'>
      <div id='scooter-booking-dates' data-unavailable="<%= @scooter.unavailable_dates.to_json %>">
        <% if current_user.id != @scooter.user_id  %>
        <%= simple_form_for([@scooter, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, type: :text%>
        <%= f.submit "Book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6">
      <h3>Reviews:</h3>
      <% @reviews.each do |review| %>
      <p>By: <%= review.user.email  %></p>
      <p> "<%= review.content %>"</p>
      <p> Rating: <%= "*"*review.rating  %></p>
      <% end %>
    </div>
  </div>
</div>
