<div class="card-category mb-5 rounded-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <h2 class="my-5 text-center">Nothing gives you more freedom than <strong>SKUTER</strong></h2>
</div>

<div class="container">

  <div class="d-flex">


    <div class="card-product-large mr-3" style="width: 69%">
      <img src=<%= @scooter.model.photo_url %> />
      <div class="card-product-infos">
        <h2><%= @scooter.model.brand %> <%= @scooter.model.name %></h2>
        <p>Year: <%= @scooter.age %></p>
        <p>Mileage: <%= number_with_delimiter(@scooter.mileage.to_i, delimiter: ',') %> kms</p>
        <p>Condition: <%= @scooter.condition %></p>
        <p>Daily Rental: IDR <span hidden id="price" ><%= @scooter.price_per_day.to_i%></span><%= number_with_delimiter(@scooter.price_per_day.to_i, delimiter: ',') %></p>
      </div>
    </div>



      <div class="card p-3 shadow p-3 mb-5 bg-white rounded-0" style="width: 31%; height: 415px">
      <div id='scooter-booking-dates' data-unavailable="<%= @scooter.unavailable_dates.to_json %>">
        <% if current_user.id != @scooter.user_id  %>
        <%= simple_form_for([@scooter, @booking]) do |f| %>
        <%= f.label :start_date, 'Choose your Date', class: "text-center" %>
        <%= f.input :start_date, as: :string, type: :text , label: false%>
        <%= f.submit "Book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
        <% end %>
        <% else %>
        <h5 class="mt-5 text-center"><%= current_user.name %></h5>
        <h5 class="text-center">Welcome to your SKUTER</h5>
        <%= link_to "My Profile", user_dashboard_path(current_user), class:"btn btn-flat mt-3" %>
        <% end %>
      </div>
      <div id="booking-details" class="pt-4 text-center">

      </div>
      </div>


  </div>


</div>

<div class="container">
  <div class="dflex flex-column reviews-column" style="width: 69%">
    <% if @reviews.length > 0 %>
      <div class="card mr-3 shadow p-3 mb-5 bg-white rounded-0">
        <h5>Reviews</h5>
        <% @reviews.each do |review| %>
          <div class="card pd-3  shadow p-3 mb-2 bg-white rounded-0">
            <p><%= review.content %></p>
            <div><% review.rating.times do %><i class='fas fa-star'></i><% end %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%#= image_tag @scooter.photo.url, height: 300, width: 400, crop: :fill %>




